:root{
    --bg-blue: #93B5C9;
    --bg-wine: #AB2849;
}

.padre{
    position:absolute;
    width: 100%;
    height: 100%;

}

.caja1 {
    background-color: #93B5C9;
    width: 100%;
    height: 14%;
}

.caja2{
    background-color: #AB2849;
    width: 100%;
    height: 25%;
    top: 14%;
}

.caja3{
    position: absolute;
    background-color: #AB2849;
    width: 78%;
    height: 11.5%;
    top: 40%;
    left: 20%;
}

  .caja4{
    position: absolute;
    background-color: #AB2849;
    width: 78%;
    height: 11.5%;
    top: 53%;
    left: 20%;
}

.caja5{
    position: absolute;
    background-color: #AB2849;
    width: 78%;
    height: 11.5%;
    top: 66%;
    left: 20%;
}

.caja6{
    position: absolute;
    background-color: #AB2849;
    width: 78%;
    height: 11.5%;
    top: 79%;
    left: 20%;
}

.caja7{
    position: absolute;
    background-color: #AB2849;
    width: 95%;
    height: 7%;
    top: 93%;
    left: 2.5%;
}